.backGround {
  background-color: #0f172a;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f8fafc;
}

@media (min-width: 768px) {
  h1 {
    font-size: 35px;
  }
  img {
    width: 150px;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 15px;
  }
  img {
    width: 80px;
  }
}
